#!/usr/bin/env bash
set -euo pipefail

create_venv() {
  if ! [ -d ".venv" ]; then
    echo "Creating virtual environment..."
    $1 -m venv .venv
    ./.venv/bin/pip install -r requirements.txt
  fi
}

if ! [ -d ".venv" ]; then
  if command -v python3 >/dev/null 2>&1; then
    create_venv python3
  elif command -v python >/dev/null 2>&1; then
    create_venv python
  else
    echo "Python is not installed. Please install Python to create a virtual environment."
    exit 1
  fi
fi

source .venv/bin/activate
